{% extends 'base.html' %}
{% block title %}Sobre mi{% endblock %}
{% block content %}
    <section>
        <h2>About me!</h2>
        <br>
        <strong>
        <p>Hola! mi nombres es Nahuel!, soy un chico que le encanta aprender cosas nuevas y siempre me gusto todo lo que es relacionado a la tecnologia. Por eso quise aprender en Coderhouse lo que es el lenguaje de programacion python y hacer mis primeros pasos para aprender a programar de a poco</p>
        <p>
        Esta pagina es un blog de musica donde podes crear posts relacionado al genero o de los artistas que mas te gustan, los usuarios tambien pueden crear sus perfiles con su respectiva foto de perfil.</p>
        </p>
        <p>Gracias por ver la pagina!</p>
    </strong>
    </section>

{% endblock %}