{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>Mi usuario</h1>

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-2">
            {% if page_user.imagen_perfil %}
                <img src="{{ page_user.imagen_perfil.url }}" class="img-fluid rounded-start">
            {% else %}
                <img src="{% static 'musiblog/images/mfdoom.png' %}" class="img-fluid rounded-start">
            {% endif %}
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">
                    {{ page_user.user.first_name }} 
                    {{ page_user.user.last_name }}
                </h5>
                <p class='small text-muted'>
                    <p class="card-text">
                        {{ page_user.bio }}                
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a href='{% url 'inicio' %}' class="btn btn-success">Volver</a>

{% endblock %}
